.mainBackground{
  background-color: #001A2E;
  padding: 20px;
}
.sub_content{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menu_text{
  display: flex;
  color: white;
  font: normal normal medium 14px/19px Manrope;
  list-style: none;
  gap: 48px;
  padding-bottom: 0px !important;
  margin-bottom: 0px;
}
.login_text{
  color: white;
  font: normal normal bold 14px/19px Manrope;
}
.side_menu{
  display: flex;
  gap: 30px ;
  list-style: none;
  align-items: center;
  padding-bottom: 0px !important;
  margin-bottom: 0px;
}
.getStarted_btn{
  background: #00A05A;
border-radius: 3px;
border: none;
font: normal normal bold 14px/19px Manrope;

padding: 10px 15px;
}

.menu_sub_text {
  color: white;
  font: normal normal medium 14px/19px Manrope;
}

.menu_sub_text:after {
  position: absolute;
  
  content: '';
  height: 30px;
  width: 10px;
  border-bottom: solid 3px #F14E9B;
  transition: right 250ms ease-in-out, left 250ms ease-in-out;
  opacity: 0;
}

.menu_sub_text:hover:after {
  opacity: 1;
}

.bigbglogo_img{
  display: flex;

}

.main_content{
  display: flex;
  /* justify-content: end; */
}

.img_overlay{
  
  position: relative;
}
.logo_min_section{
  padding-top: 160px;
}
.banner_img{
  position: absolute;
  bottom: 0px;
  left: 15%;
  top:25%;
}

.left{
 width: 40%;
}
.right{
  width: 60%;
}

.main_ifa_span{
  position: relative;

}
.main_text{
  color: white;
  font-size: 50px;
  max-width: 450px;
}
.text_ifa{
  position: absolute;
  bottom: 0px;
  right: 8px;
  left: 34px;
  top: 1px;
}
.text_ifa{
  color: white;
  font-size: 50px; 
  font: normal normal medium 14px/19px Manrope;

}

.sub_para{
  color: rgba(255, 255, 255, 0.685);
  font-size: 20px ;
  font: normal normal medium 14px/19px Manrope;

}
.main_background{
  background-color: white;
}
.left_background{
  width: 50%;
}
.right_background{
  width: 50%;
}

.main_exp{
  display: flex;
  align-items: center;
 justify-content: space-between;

}

.learn_text{

text-align: left;
font: normal normal medium 18px/24px Manrope;
letter-spacing: 0px;
color: #F14E9B;

opacity: 1;
}

.positive_text{
  color: black;
  font: normal normal bold 32px/42px Manrope;
}

.access_para{
  color: black;
  font: normal normal normal 14px/24px Manrope;
}

.registerBtn{
  background: #00A05A;
border-radius: 3px;
border: none;
font: normal normal bold 14px/19px Manrope;

padding: 10px 15px; 
}